@tailwind base;
@tailwind components;
@tailwind utilities;

:root{
    --text-warning: 133, 77, 14;
    --text-danger: 153, 27, 27;
    --text-success: 22, 101, 52;
    --bg-success: 187, 247, 208;
    --bg-danger: 254, 202, 202;
    --min-w-md: 25rem;
}

.light {
  --background: 201, 201, 201;
  --text: 80, 80, 80;
  --primary: 18, 175, 89;
  --secondary: 27, 141, 112;

  --card: 255, 255, 255;
}

@media (min-width: 460px) {
    .min-w-md {
        min-width: var(--min-w-md);
    }
}